nav{
    background-color: #8E3838;
    border: 2px solid black;
}

p{
    font-size: 50px;
}

nav a{
    color: black;
    text-decoration: none;
    padding: 140px;
    font-size: 60px;
}

.logo{
width: 1600px;
height: 400px;
}

body{
    background-color: #CCA494;
}

.h1o{
    text-align: center;
    position: relative;
    right: 500px;
}

.review1 {
position: relative;
left: 100px;
background-color: #8E3838;
border: 2px solid black;
margin: 10px;
}

.review2 {
    position: relative;
    left: 100px;
    background-color: #8E3838;
    border: 2px solid black;
    margin: 10px;
    }

    
.review1::before{
    content: url("Discord.png");
    width: 50px;
    height: 50px;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
}

.review2::before{
    content: url("Telegram.png");
    width: 50px;
    height: 50px;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
}

.pizza_text{
 position: relative;
 left: 1000px;
}

nav a:hover{
    color: #3c1f1f;
    transition: 3s color linear;
}


main{
    background-color: #CCA494;
}

header{
    background-color: #CCA494;
}

footer{
    background-color: #571D1D;
}

footer p{
    background-color: #8E3838;
    border: 2px solid black;
    margin: 10px;
}

.up{
    position: fixed;
    width: 69px;
    height: 75px;
    background-color: #8E3838;
    border: 3px solid #000000;
    left: 18px;
    top: 550px;
}

.up_a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    font-size: 50px;
}

.img{
    position: absolute;
    left: 1000px;
    width: 450px;
    height: 450px;
}

h1{
    font-size: 70px;
}

